.video-description {
    background: white;
    padding: 0.875rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0.28125rem;
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 25%);
}
h5 {
    color: #0c5af5;
}
p {
    font-size: 16px;
}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
    margin: 0;
    padding: 0;
}
