.navBar ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 0;
    line-height: 72px;
}

li {
    font-size: 1.25rem;
}

.navBar {
    background: indigo;
    box-shadow: 4px 2px 5px gray;
    color: white;
    margin-bottom: 2rem;
    padding: 1.5rem;
}

.brand {
    cursor: pointer;
    font-size: 2rem;
}

.brand img {
    max-width: 100px;
    margin-right: 10px;
}

.brand p {
    font-size: 48px;
    font-family: fantasy;
    margin-bottom: 0;
}

@media screen and (max-width: 550px) {
    .brand p {
        display: none;
        /* width: 85%; */
    }
    .navBar li:last-child {
        margin-left: auto;
    }
}
